@import url('https://rsms.me/inter/inter.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Music&family=Noto+Sans+Arabic:wght@400;700&family=Noto+Sans+JP:wght@400;700&family=Noto+Sans+KR:wght@400;700&family=Noto+Sans+SC:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

:root {
  --font-stack: 
    'Inter', 
    'Noto Sans', 
    'Noto Sans JP', 
    'Noto Sans SC', 
    'Noto Sans TC', 
    'Noto Sans KR', 
    'system-ui', 
    sans-serif;

    --font-mono: monospace;
    --font-mono-weight: 400;
}

.count, 
.col-index, 
.track-index, 
.track-meta,
code, 
pre {
  font-family: var(--font-mono) !important;
  font-weight: var(--font-mono-weight) !important;
  font-style: normal !important;
  font-size: 14px;

}

/* :root { */
/*   --font-stack: 'Noto Sans', sans-serif; */
/* } */

/* The sizing chain must be unbroken for % heights to work */
html, body, #app {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #ccc;
  font-family: var(--font-stack);
  overflow: hidden; 
  height: 100%; 
  width: 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  text-rendering: auto;
}

main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; 
  overscroll-behavior: none;
}

.scroll-content {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

::selection {
  background-color: var(--border-muted);
  color: var(--text-main);
}

::-webkit-scrollbar {
  display: none;
}
