@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v42-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-v42-latin-700.woff2') format('woff2');
}

:root {
    --0: #111111;
   --50: oklch(0.22 0 0);
  --100: oklch(0.26 0 0);
  --200: #282828;
  --300: oklch(0.42 0 0);
  --400: oklch(0.50 0 0);
  --500: oklch(0.58 0 0);
  --600: oklch(0.66 0 0);
  --700: oklch(0.74 0 0);
  --750: #CCCCCC;
  --800: #FFFFFF;

  --bg-color: var(--200);
  --card-bg: var(--200);
  --drawer-bg: var(--100);
  
  --text-main: var(--750);
  --text-accent: var(--600);
  
  --highlight: var(--800);
  --brand-red: #EA4335; 
  
  --font-stack: 'Noto Sans', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: var(--font-stack);
  overflow: hidden; 
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  text-rendering: auto;
}

main {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; 
  overscroll-behavior: none;
}

.scroll-content {
  width: 100%;
  padding: 40px 0 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 0 auto;
  box-sizing: border-box;
}

::selection {
  background-color: var(--grey-300);
  color: var(--grey-500);
}

::-webkit-scrollbar {
  display: none;
}
